<!DOCTYPE html>

<%- include('head') %>

<body class="container">
  
  <%- include('header') %>

  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p>Oi, sou o Felipe Vasconcelos, estudante de software development</p>
    </div>
  </main>
  
  <%- include('footer') %>

</body>