<!DOCTYPE html>

  <%- include('head') %>


  <body class="container">

    <%- include('header') %>

    <main>
      <div class="jumbotron">
        <h1>Node com EJS</h1>
        <p>Vamos aprender a trabalhar com arquivos EJS</p>
      </div>
    </main>

    <%- include('footer') %>
    
  </body>
</html>