body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #CCCCCC;
  padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0px;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

.beneficios ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}

footer {
  text-align: center;
  background: url("./assets/bg.jpg");
  padding: 40px 0;
}

.copyright {
  color: white;
  font-size: 13px;

  margin: 20px 0 0;
}

/* css da página inicial*/
.banner {
  width: 100%;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
  color: rgb(0, 0, 0);
}

.titulo-principal:first-letter {
  font-weight: bold;
}

.titulo-principal::before {
  content: "[ ";
}
.titulo-principal:after {
  content: "] ";
}

.principal {
  margin: 3em 0;
  background: #fefefe;
  width: 100%;
  margin: 0 auto;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.mapa {
  padding: 3em 0;
  background: linear-gradient(#FEFEFE, #888888);
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.mapa-conteudo {
  width: 80%;
  margin: 0 auto;
}

.beneficios {
  padding: 3em 0;
  background: #888;
}

.conteudo-beneficios {
  width: 60%;
  margin: 0 auto;
}

.lista-beneficios {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.itens {
  line-height: 1.5em;
}

.itens:nth-child(1) {
  font-weight: bold;
}

.itens:before {
  content: "🌟";
}

.imagembeneficios {
  width: 60%;
  opacity: 0.7;
  transition: 300ms;
  box-shadow: 10px 10px 5px #000000;
}

.imagembeneficios:hover {
  opacity: 1;
}

.video {
  width: 560px;
  margin: 2em auto;
}

@media screen and (max-width: 480px) {
  .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
    width: 100%;
  }

  h1 {
    text-align: center;
  }

  nav {
    position: static;
  }

  .lista-beneficios, .imagembeneficios {
    width: 100%;
  }
}