header {
  background-color: #CCCCCC;
  padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0px;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}








footer {
  text-align: center;
  background: url("./assets/bg.jpg");
  padding: 40px 0;
}

.copyright {
  color: white;
  font-size: 13px;

  margin: 20px 0 0;
}

main {
  width: 940px;
  margin: 0 auto;
}

form {
  margin: 40px 0;
}

form label, form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.inputpadrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;

  border: none;
  border-radius: 5px;

  transition: .3s;

  cursor: pointer;
}

.enviar:hover {
  background: darkorange;
  transform: scale(1.2);
}

table {
  margin: 20px 0 40px;
}

thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

td, th {
  border: 1px solid #000000;
  padding: 8px 15px;
}