.container {
  display: flex;
  justify-content: space-between;
}
.box {
width: 50px;
height: 50px;
margin-bottom: 8px;
}

.blue {
background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}