<!DOCTYPE html>

<%- include('../partials/head') %>

<body class="container">
  
  <%- include('../partials/header', {pagina: 'Sobre'}) %>

  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p>Oi, sou o Felipe Vasconcelos, estudante de software development</p>
    </div>
  </main>
  
  <%- include('../partials/footer') %>

</body>