* {
  margin: .1rem;
}

header {
  padding: 4rem;
  background: lightgray;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: .8rem;
}

ul li:last-child {
  background: black;
  color: white;
  padding: .8rem;
}

.container {
  display: flex;
  gap: 1rem;
}

aside, main {
  border: 1px solid;
  height: 95vh;
}

aside {
  flex-basis: 25%;
  background: lightcoral;
}

main {
  flex: 1;
  background: lightcoral;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
  justify-content: center;
}

img {
  width: 30%;
}