* {
  margin: .1rem;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 4rem;
  background: lightgray;
  height: 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: .8rem;
}

ul li:last-child {
  background: black;
  color: white;
  padding: .8rem;
}

.container {
  display: flex;
  gap: 1rem;
}

aside, main {
  border: 1px solid;
  height: 95vh;
}

aside {
  flex-basis: 25%;
  background: lightcoral;
}

main {
  flex: 1;
  background: lightcoral;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
  justify-content: center;
}

img {
  width: 30%;
}

button {
  display: flex;
  align-items: center;

  line-height: 0;

  gap: .4rem;
}

button img {
  width: 2rem;
  height: 2rem;
}

footer {
  margin-top: auto;

  background: gray;
  color: white;

  height: 8rem;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}